/*   
body {
    background-color: goldenrod;
}

.title {
    color: black;
    text-align: center;
}

#card-container-list{
    font-style: italic;
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .but-nope, .but-yay {
    display:inline-block;
  }

  

  h3 {
      text-align: center;
  }

  h5 {
      text-align: center;
  }

  li {
    list-style-type: none;
}

/* .card {

    position: absolute;
    
} */

body {
    background-color: #D2B48C;
}


.card-unswiped {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    width: 320px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    color: black;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-swiped {
    display: none;
}

.title {
    text-align: center;
    font-style: italic;
}

.card-unswiped:hover {
    cursor: pointer;
}


/* .card-swiped {
    display: none
} */
