  
body {
    background-color: goldenrod;
}

.title {
    color: black;
    text-align: center;
}

#card-container-list{
    font-style: italic;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .but-nope, .but-yay {
    display:inline-block;
  }

  

  h3 {
      text-align: center;
  }

  h5 {
      text-align: center;
  }

  li {
    list-style-type: none;
}


