body {
    background-color: #D2B48C;
}

.card-unswiped {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    width: 320px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    color: black;
    background-color: white;
    text-align: center;
    /* display: inline-table; */
    display: none;
}

.card-unswiped:first-of-type {
  display: inline-table;
}

.card-swiped-liked {
    display: none;
}

.card-swiped-disliked {
    display: none;
}

.title {
    text-align: center;
    font-family: Trattatello, fantasy;
    color: white;
}

.card-unswiped:hover {
    cursor: pointer;
}

.add-new-wine {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* https://christianheilmann.com/2015/09/06/tinderesque-building-a-tinder-like-interface-with-css-animations-and-vanilla-js-justcode */

@keyframes leftnewmove {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(-40deg) translateY(-80px);
      opacity: 0;
    }
  }

  @keyframes rightnewmove {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(40deg) translateY(-80px);
      opacity: 0;
    }
  }

  /* https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#add-new {
  display: none;
}


